name: WakaTime Stats Update

on:
  schedule:
    - cron: '0 0 * * *' # atualiza todo dia à meia-noite
  workflow_dispatch:

jobs:
  update-readme:
    name: Update WakaTime stats
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHOW_LINES_OF_CODE: true
          SHOW_PROFILE_VIEWS: false
          SHOW_LOC_CHART: true
          COMMIT_MESSAGE: "Atualiza estatísticas do WakaTime"
